:host {
    display: block;
    width: 100%;
    height: 100%;
}

.pokemon-sprite {
    filter: grayscale(0.5) brightness(150%);
    animation: bounce 2s infinite ease-in-out;
    transition: all 0.3s ease;
    transform: translateZ(0);
}

.sprite-container:hover .pokemon-sprite {
    filter: grayscale(0) brightness(100%);
    transform: scale(1.15);
}

.sprite-shadow {
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 70%);
    transform: translateZ(0);
    transition: all 0.3s ease;
}

.sprite-container:hover .sprite-shadow {
    opacity: 0.5;
    width: 20px;
    filter: blur(2px);
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }
}